*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 1.2rem;
  border: 4px solid #FFF;
}

